body, html, li, ul, nav, div, header, img, input {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 6%);
    height: 100px;
}

/* -------------------------- Header and nav ----------------------------- */

.sub-ul {
    display: none;
}
header {
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: center;
    background-color: burlywood;
}

.nav-icon {
    width: 1.4rem;
    margin: .8rem;
}

nav {
    transform: scale(1, 0);
    transition: transform .5s ease;
    transform-origin: top;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
    background-color:burlywood;
}

nav ul { 
    list-style: none;
}

nav li {
    margin: 1.5rem;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: sans-serif;
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* -------------------------- Nav mobile button ----------------------------- */

.nav-button {
    display: none;
}

.nav-button-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-button-label span,
.nav-button-label span::before,
.nav-button-label span::after {
    display: block;
    background-color: white;
    height: 2px;
    width: 2rem;
    border-radius: 20px;
    position: relative;
    transition: .5s ease;
}

.nav-button-label span::before,
.nav-button-label span::after {
    content: '';
    position: absolute;
}

.nav-button-label span::before {
    bottom: 8px;
}

.nav-button-label span::after {
    top: 8px;
    box-shadow: 0 2px 4px 0px hsl(0, 0%, 6%, 0.2), 0 5px 8px 2px hsl(0, 0%, 6%, 0.2);
}

/* -------------------------- Nav hover/checked etc ----------------------------- */

nav a:hover {
    color: gray;
}

.nav-button:checked ~ nav {
    transform: scale(1);   
}

.nav-button:checked ~ nav a {
    opacity: 1;   
    transition: opacity .4s ease .3s;
}

.nav-button:checked ~ label span,
.nav-button:checked ~ label span::before,
.nav-button:checked ~ label span::after { 
    background-color: grey;
}

/* -------------------------- Button spin ----------------------------- */

.nav-button:checked ~ label span {
    transform: rotate(45deg);
    transition: transform .5s;
}

.nav-button:checked ~ label span::before {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom .5s, transform .5s ease;
}

.nav-button:checked ~ label span::after {
    top: 0;
    transition: top .5s ease;
}


/* -------------------------- Large screen nav ----------------------------- */

@media screen and (min-width: 760px) {
    .nav-button-label {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-icon {
        margin: .6rem 3rem;
    }
    nav {
        all: unset;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin: 0;
        padding: 1rem;
        background-color: burlywood;
    }
    nav li:last-child {
        margin-right: 3rem;
    }
    nav a {
        opacity: 1;
    }
    .sub-ul {
        transform: scale(1, 0);
        position: absolute;
        top: 3rem;
        right: 0;
        width: 100%;
        height: 3.1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: transform .4s ease;
        transform-origin: top;
        background-color: burlywood;
    }
    .sub-ul a {
        opacity: 0;
    }

            /* -------------------------- Large screen hovers ----------------------------- */

    .sub-ul:hover a,
    .li-opacity:hover ~ .sub-ul a {
        opacity: 1;
        transition: opacity .4s ease .4s;
    }
    .shop-sub-ul:hover,
    .shop-li:hover ~ .shop-sub-ul {
        transform: scale(1);
    }
    .sale-sub-ul:hover,
    .sale-li:hover ~ .sale-sub-ul {
        transform: scale(1);
    }
    .book-sub-ul:hover,
    .book-li:hover ~ .book-sub-ul {
        transform: scale(1);
    }
    
} 